* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    background-color: #008080;
}
header {
position: relative;
display: flex;
justify-content: space-around;
background-color: rgb(255,182,193);
height: 10vh
}
.logo {
    font-size: 27px;
    font-family: 'Grandstander', cursive;   
}
.menu {
    font-size: 29px;
    color:black;
}
.grid-item {
    background-color: #ffffff;
}
#container {
    display: grid;
    margin: auto;
    margin-top: 12px;
    border: 10px solid rgb(255,182,193);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 500px;
    height: 550px;
}

